<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places</title>
    <style>
        h1{
            color: darkblue;
        }
    </style>
</head>
<body>
    <h1>!Placesברוך הבא ל</h1>
    <ul>
        <li>המערכת בשלבי בניה</li>
        <li>ספרו לי במייל חוזר מה דעתכם על הרעיון...</li>
    </ul>
</body>
</html>
